header {
    text-align: center;
}

#task-section {
    margin-top: 50px;
}

#completed-section {
    margin-top: 50px;
}

.task-section {
    display: flex;
    justify-content: center;
}

ul {
    width: 70%;
}

li {
    /* this centers the li text vertically */
    line-height: 38px;
}




